:root {
	font-size: 62.5%;
	box-sizing: border-box;
}

.header {
	font-size: 4rem;
}
.instructions {
	font-size: 2rem;
}
.numbers {
	display: flex;
	font-size: 2rem;
}
.rounds,
.score {
	font-size: 3rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.buttons {
}
.rock {
}
.paper {
}
.scissor {
}
